.case-description {
  display: flex;
  align-items: center;
}

.case-description-block {
  &--title {
    width: 148px;
    margin-right: 63px;
  }
  &--text {
    width: 286px;
  }
}

.case-description__headline {
  .reset();
  
  font-size: 30px;
  line-height: 40px;
  color: #ef5c5c;
  font-weight: 300;
}

.case-description__text {
  .reset();
  
  font-size: 14px;
  line-height: 16px;
  color: rgba(35, 35, 35, 0.8);
}